
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
PORT=3001
NODE_ENV=development
REDIS_URL=redis://127.0.0.1:6379
ELASTICSEARCH_URL=http://127.0.0.1:9200
WORKER_CONCURRENCY=2
MIN_EMAIL_DELAY_MS=1000
HOURLY_EMAIL_LIMIT=100
